body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
* {
  box-sizing: border-box
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: lightgray;
}
